




@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');
@import url('//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css');
 .container {
	 position:absolute;
	 left:1%;
		margin-top: 30px;
		width: 35%;
		height:90%;
 }


 
#slide_container
{
  width:50%;
  height:50%;
  background:blue;
    margin-left: 5%;
}
#unity_container
{
	position:absolute;
	width:50%;
	right:3%;
}
#note
{
	width:50%;
	height:100px;
}
.Slide
{
		background: ghostwhite;
		height:100%;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 2%;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 20px;	
}
.add_slide
{
position: fixed;
    left: 1%;	
}
#submit
{
position: fixed;
    top: 14%;
		    left: 1%;
}
#webCam
{
    width: 90%;	
}
#if_container
{
width: 53%;
height: 80%;
display: inline;
position: fixed;
right: 51px;
}

iframe
{
width: 100%;
height: 100%;
}
.replay
{
	background:skyblue;	
}

h1
{
	text-align:center;	
	font-family: cursive;
}
body
{
	background:black;
}


@import "compass/css3";

@import url("http://fonts.googleapis.com/css?family=Lato");

$background: #e74c3c;
$file-upload-color: #c0392b;
$file-upload-size: 300px;

* {
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
}
body { 
    font-family: Lato, Arial; 
    color: #fff;
    padding: 55px 25px;
    background-color: $background;
}
h1 {
    font-weight: normal;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    span { 
        font-size: 13px;
        display: block;
        padding-left: 4px;
    }
}
p {
  margin-top: 200px;
  a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: darken($file-upload-color, 2);
    @include transition(all 0.2s ease-in);
    &:hover {
      background-color: darken($file-upload-color, 5);
    }
  }
}
.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 30px;
    //border: 1px solid #ccc;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative; 
    margin-bottom: 5px;
    //border: 1px solid #ccc;
}
.file-upload-input {
    width: $file-upload-size;
    color: #fff;
    font-size: 16px;
    padding: 11px 17px; 
    border: none;
    background-color: $file-upload-color; 
    @include transition(all 0.2s ease-in); 
    float: left; /* IE 9 Fix */
    &:hover, &:focus { 
        background-color: darken($file-upload-color, 5);
        outline: none; 
    }
}
.file-upload-button {
    cursor: pointer; 
    display: inline-block; 
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 20px; 
    border: none;
    margin-left: -1px;  
    background-color: darken($file-upload-color, 10); 
    float: left; /* IE 9 Fix */
    @include transition(all 0.2s ease-in);
    &:hover {
        background-color: darken($file-upload-color, 20);
    }
}
.upload
{
	margin-top: 10%;
	    padding-left: 10%;
}


